# Database
DATABASE_URL=postgresql://neondb_owner:npg_dQOEf2tT3KYl@ep-nameless-shape-atcfcsyz-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# AI (OpenAI)
OPENAI_API_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Upload
UPLOADTHING_TOKEN=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
